/*mobile styles */
@media (max-width: 600px) {
    .topnav{
        display: block;
    }

.topnav a {
    display: block;
    float: none; /* Remove float for mobile */
}

.content{
    font-size: 16px; /*Adjust font size for mobile */
    padding: 10px;
    }

}
